body
{background-color: black;}

img{ width: 100px;
  height: 100px; 
  border-radius: 50%;
 margin-left: auto;
margin-right: auto;
display: block;
border: 3px solid black;}

.name
{color: white;
  font-size: 30px;
  
  text-align: center;
}
.huree
{border-radius: 25px;
border: 3px solid #5e5a80;
border-left: none;
border-right: none;}
a
{color: white;
text-decoration: none;
font-size: 20px;}


.info{width: 700px;
height: 50px;
color: white;
font-family: 'Times New Roman', Times, serif;
font-size: 1.8em;
border-radius: 10px;
background-color: gray;
padding-top: 10px;
padding-left: 20px;}

/* avarga */
.info1{width: 700px;
    height: 80px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8em;
    border-radius: 10px;
    background-color: gray;
    padding-top: 10px;
    padding-left: 20px;}

    .info2{width: 700px;
        height: 150px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.8em;
        border-radius: 10px;
        background-color: gray;
        padding-top: 10px;
        padding-left: 20px;}
    /* undsen div */
    .lol{
  margin-left: 23%;
}

/* baruun zai */
.righ{padding-right: 20px;
float: right;}

